scripts
test
node_modules
packages/site/node_modules
packages/snap/node_modules
packages/snap/src/types
packages/site/.cache
packages/site/public
packages/snap/artifacts
packages/snap/cache
.yarn/
.github/